*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  
  }
  body{
    background-image: url('/home/mohan/Desktop/to-do/public/image/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-color: white;
  
  }
  
  .container{
    height: 89vh;
    width: 100%;
  }
  
  .main-container{
    max-width: 540px;
    margin: auto;
  }
  
  
  .header{
    color: #fff;
    letter-spacing: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 50px;
  
  
  
  }
  
  img{
    width:35px;
    height: 35px;
  }
  @media (min-width:30px)and (max-width:767px) {
    .main-container{
      /* max-width: 540px; */
      margin: 0% 10%;
    }
  }